<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="getyourcasts.jd.com.getyourcasts">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.SearchNewPodcastActivity"
            android:label="@string/app_name"
            android:theme="@style/TransluentNoActionbar">
        </activity>
        <activity
            android:name=".view.MainPodcastActivity"
            android:theme="@style/RegularNoActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.PodcastDetailsActivity"
            android:label="@string/title_activity_podcast_detail_layout"
            android:theme="@style/TransluentNoActionbar">
        </activity>
        <activity
            android:name=".view.EpisodeListActivity"
            android:label="@string/title_activity_episode_list_details"
            android:theme="@style/AppTheme">
        </activity>

        <service
            android:name=".repository.remote.network.DownloadService"
            android:label="DownloadService"/>

        <activity
            android:name=".view.EpisodeInfoActivity"
            android:label="@string/title_activity_episode_info"
            android:theme="@style/TransluentNoActionbar">
        </activity>

        <service
            android:name=".exoplayer.MediaPlayBackService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>